.container{
    border: 3px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.box{
    width: 200px;
    height: 200px;
    margin: 20px;
}

.box1{ background-color: red; order: 2;}
.box2{ background-color: green; order: 2;}
.box3{ background-color: blue; order: 0;}
.box4{ background-color: yellow; order: 3;}
.box5{ background-color: orange; order: -1;}